body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-image: url('https://i.imgur.com/zh3SwPw.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(252, 252, 252, 0.616); /* Opacité blanche, modifiez si besoin */
  pointer-events: none;
  z-index: 0;
}

main, #root, .app {
  position: relative;
  z-index: 1;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}
nav a.font-bold {
  text-decoration: underline;
}
